* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    background-color:#c8d6e5;
    text-align: center;
}
form {
    background-color: #c8d6e5;
    padding:  24px 0;
    text-align: center;
}
input, button {
    padding: 8px;
    border: none;
}
button {
    background-color: green;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}
ul li {
    display: none;
    cursor: pointer;
    text-decoration: line-through;
}